/* Styling for the video slider */
.slick-slider {
  text-align: center;
}

.slick-slider .element {
  height: 500px;
  width: 500px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
}
.slick-slider .slick-disabled {
  opacity: 0;
  pointer-events: none;
}
/* Styling for custom navigation buttons */
.custom-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  font-size: 50px;
}
.custom-buttons.slick-prev {
  left: 30px;
}
.custom-buttons.slick-next {
  right: 30px;
}
@media only screen and (max-width: 550px) {
  .slick-slider {
    display: flex;
    flex-direction: column;
  }
}
